.status-bar {
    background-color: #abc1d1;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 5px 3px;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
}
.status-bar_column {
    width: 33%;
}
.status-bar_column:first-child span {
    margin-right: 5px;
}
.status-bar_column:nth-child(2) {
    display: flex;
    justify-content: center;
}
.status-bar_column:last-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status-bar .fa-battery-quarter {
    margin: 0px 5px;
}